Router:
make incoming queue as priority queue,
router will process highest priority message first, so maybe the messages are first sorted and then put in routing table which is just normal queue and it will just send them out normally
make routing tble(idk what that is
so the thing that will beapplied here is that it will use djikstra's algorithm to identify nearest router
and maybe the routing table is the priority queue and that will sort and send out the messages)
outgoing queue is normal queue
routing table will store destinations and where every message is supposed to go
the destination address is what the routing table uses to forward the message to nearest router and from there it goes to another router unless it reaches its destination by djikstra's algorithm

PHASE 1:
#wajeeha
Incoming Queue is a heap(priority queue), priority is represented by an int from 1 to 10
so basically a node for this this will have 3 data members:
-Pointer to next node
-short int priority;(10 is highest priority so it should be Dequeued first, then the rest)
-T3 data(where T3 is the name of the variable that represnetns the datatype for data which can be any since we are using templates)
#aleesha
The outgoing queue is just a normal queue which actually recieves whatever is dequeued from the priority queue
add a ctime library function to make the Dequeue function wait latency_queue_forwarding this variable amount of time(the variable is defined and can be changed from base library file)

so lesgooo
a routing table has a destination, next best router address
make linear list, splay tree construction is already underway

figure out what the change RT thing means